@import url(Montserrat/Montserrat-Medium.ttf);

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alert{
    height: 60px;
    position: relative;
    }
a.active, a:hover{
    background-color: #ffeeb6;
    transition: 0.5s;
}
.navbar-expand-sm {
    text-align: center;
}
.box{
    position: relative;
    max-width: 100%;
    padding: 50px;
    background: #ffe799;
    margin: 10px 10px;
}
.carousel{
    background-color: rgba(128, 128, 128, 0.603);
    width : 100%;
    height : 100%;
}
@media (max-width : 3000px){
    img{
        padding-top: 40px;
        position: relative;
        padding-left: 415px;
        height : 450px;
        font-size: 32px;
    }
}
@media (max-width : 1200px){
    img{
        position: relative;
        padding-left: 335px;
    }
}
@media (max-width : 992px){
    img{
        position: relative;
        padding-left: 245px;
        height: 350px;
    }
}
@media (max-width : 768px){
    img{
        position : relative;
        padding-left: 155px;
        height : 350px;
    }
}
@media ( max-width : 576px){
    img{
        position: relative;
        padding-left: 145px;
        align-items: center;
        height: 350px;
    }
}
@media (max-width : 400px){
    img{
        position: relative;
        padding-left: 80px;
        align-items: center;
        height : 300px
    }
}

.carousel-caption{
    position: relative;
    padding-top: 100px;
    left: 0%; 
}
.carousel-control-prev, .carousel-control-next {
    background :none !important;
    filter:none !important;
}



